header{
    height: 60px;
    background-color: #2f3543;
    color: white;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #b6c4ca;
}
h2{
    margin: 0px;
    display: inline-block;
    float: left;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.btnMain{
    width: 100%;
    height: 100%;
    border: 1px solid #b6c4ca;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color: #e6ebed;
    cursor: pointer;
}

.menu{
    background-color: #2f3543;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menuWrapper{
    display: flex;
    width: 100%;
    align-items: center;
}
.menuSide{
    width: 50%;
    display: flex;
    align-items: center;
}
.btnMenuStart{
    height: 50px;
    border: 1px solid #b6c4ca;
    background-color: transparent;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
}
.btnMenuStart:hover{
    background-color: #b6c4ca;
    color: black;
}
.line{
    border: 1px solid #e6ebed;
    width: 20px;
}
.barWrapper{
    width: 300px;
}

.wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}
.column0{
    width: 12%;
    text-align: center;

}
.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9{
    width: 9%;
    text-align: center;
}

.cell{
    width: 100%;
    border: 1px solid lightgray;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.cellModel{
    width: 100%;
    border: 1px solid lightgray;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color: #e6ebed;
    text-align: left;
    padding-left: 2px;
}
.columnHeaders{
    width: 100%;
    height: 37px;
    border: 1px solid #b6c4ca;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color: #e6ebed;
    position: sticky;
    top: 0;
}
.columnHeadersModel{
    width: 100%;
    height: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #b6c4ca;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color: #e6ebed;
    position: sticky;
    top: 0;
}

.printBTN, .printBTNLoading{
    height: 37px;
    border: 1px solid #b6c4ca;
    background-color: #e6ebed;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 105px;
    border-radius: 20px;
    margin-right: 20px;
}
.printBTN:hover{
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15),
    inset 0px 4px 8px rgba(0,0,0,0.15),
    inset 0px 8px 16px rgba(0,0,0,0.15);
    transition: 0.2s;
    transform: translateY(2px);
}
.printBTNLoading{
    color: grey;
}
 .iconMain{
    font-size: 16px;
    margin-left: 5px;
     vertical-align: bottom;
}
.iconL{
    color: grey;
    font-size: 16px;
    margin-left: 5px;
    vertical-align: bottom;
}
.errorContainer{
    position: absolute;
    right: 0px;
}
.messageContainer{
    background: #B80F0A;
    padding: 10px;
    padding-right: 40px;
    color: white;
    margin-bottom: 5px;
    position: relative;
    z-index: 100;
}
.closeBoxIcon{
    font-size: 24px;
}
.closeBoxBtn{
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.textFrom{
    font-size: 10px;
    margin: 0;
}
.errorText{
    margin: 0;
}
.loader{
    /*justify-content: center;*/
    /*display: flex;*/
    height: 50px;
    background-color: #e6ebed;
}
div[data-testid="three-dots-loading"]{
    justify-content: center;
}
